PORT=3000
NODE_ENV=development
MONGO_URI=mongoURI
JWT_ACCESS_SECRET=accessToken
JWT_REFRESH_SECRET=refreshToken
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d
PASSWORD_RESET_EXPIRES_MINUTES=30
BOOTSTRAP_ADMIN_FIRST_NAME=System
BOOTSTRAP_ADMIN_LAST_NAME=Admin
BOOTSTRAP_ADMIN_EMAIL=admin@example.com
BOOTSTRAP_ADMIN_PASSWORD=pass
